@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Montserrat: "Montserrat", sans-serif;
  --Fraunces: "Fraunces", serif;
}

.product-container {
  background-color: var(--White);
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; /* Add some margin to separate products */
}

.desktop-img {
  display: none;
}

.mobile-img {
  max-width: 100%;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.type {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
  padding: 10px;
}

.title {
  font-size: 30px;
  font-family: var(--Fraunces);
  font-weight: 700;
  color: var(--Very-dark-blue);
  padding: 10px;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  padding: 10px 10px 25px 10px;
}

.price {
  display: flex;
  align-items: center;
  padding: 0px 10px 25px 10px;
}

.sale-price {
  font-size: 30px;
  font-family: var(--Fraunces);
  font-weight: 700;
  color: var(--Dark-cyan);
  padding-right: 20px;
}

.actual-price {
  text-decoration: line-through;
}

button {
  background-color: var(--Dark-cyan);
  color: var(--White);
  border: none;
  width: 100%; /* Make button width 100% of the container */
  height: 60px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 36%, 30%); /* Darken the button on hover */
}

.cart {
  margin-right: 10px;
}

/* Product.css */

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: var(--Very-dark-blue);
}

.popup-content p {
  margin: 0 0 20px 0;
  color: var(--Dark-grayish-blue);
}

.popup-content button {
  background-color: var(--Dark-cyan);
  color: var(--White);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: darken(var(--Dark-cyan), 10%);
}
